{{- if eq .chezmoi.hostname "MacBook-Pro" }}
token_helper = "/usr/local/bin/vault-token-helper"
{{- end }}

# for testing:
# token_helper = "{{ .chezmoi.homedir }}/go/src/github.com/joemiller/vault-gpg-token-helper/example.rb"
# token_helper = "{{ .chezmoi.homedir }}/git/joemiller/vault-gpg-token-helper/vault-gpg-token-helper"
