[user]
    name = joe miller
    email = joeym@joeym.net
[color]
    # Use colors in Git commands that are capable of colored output when outputting to the terminal
    ui = auto
[color "branch"]
    current = red reverse
    local = red
    remote = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[github]
    user = joemiller
[alias]
    l = log --stat
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --stat
	up = "!git remote update -p; git merge --ff-only @{u}"
    co = checkout
    ci = commit
    s = status
    ss = status -sb
    p = push
    pf = push --force-with-lease

    # https://csswizardry.com/2017/05/little-things-i-like-to-do-with-git/
    # https://github.com/csswizardry/csswizardry.github.com/issues/66
    stats = shortlog -sn
    overview = log --all --oneline --no-merges
    graph = log --graph --all --decorate --stat --date=iso
    delete-merged = "!git branch --merged | grep -v \"^\\s*master$\" | grep -v \"\\*\" | xargs -n 1 git branch -d"
[push]
	default = current
[gpg]
	program = gpg

[init]
    defaultBranch = main

[url "git@github.com:planetscale"]
    insteadOf = https://github.com/planetscale

[includeIf "gitdir:~/git/planetscale/"]
    path = ~/.gitconfig-pscale

# -- git commit signing -- #
[commit]
    gpgSign = true

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_git_signers

{{/* on some machines, use gpg */}}
{{- if eq .chezmoi.hostname "macbook-joe" }}
[gpg]
    program = gpg
{{/* on all other machines, fall back to using ssh key from a yubikey. this forwards over ssh whereas gpg does not forward well */}}
{{- else }}
[gpg]
    format = ssh
[user]
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFORz4M70y8FEA4EUEgLOowZk0Z1eOAKkuwk6vwZnVze cardno:11_507_367
{{- end }}
