[settings]
debug = false
{{- if eq "y" .features.onepassword }}
api_key = {{ (onepassword "gkz72k6wxjd75ffogkel7hhx54").details.notesPlain }}
{{- end }}
hidefilenames = false
ignore =
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$

status_bar_icon = true
