[settings]
debug = false
api_key = {{ range (onepassword "gkz72k6wxjd75ffogkel7hhx54").fields -}}
{{-   if (eq .label "notesPlain") -}}
{{-     .value -}}
{{-   end -}}
{{- end }}
hidefilenames = false
ignore =
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$

status_bar_icon = true

