# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

# note: to disable the macos character pop-up in atom when holding a motion key like h,j,k,l
#   defaults write com.github.atom ApplePressAndHoldEnabled -bool false
# https://gist.github.com/rastasheep/bfc8266eeb58b899054c

# my vim mappings mapped to atom. <leader> = space
'atom-text-editor.vim-mode.normal-mode':
  # <leader>w = :w
  'space w': 'core:save'
  # nmap <Leader><Leader> V
  'space space': 'vim-mode:activate-blockwise-visual-mode'

'atom-text-editor.vim-mode.visual-mode':
  # <leader>gc = toggle comments from tpope/vim-commentary
  'g c': 'editor:toggle-line-comments'
